.text--xs {
  font-size: 7pt;
}

.text--sm {
  font-size: 8pt;
}

.text--base {
  font-size: 10pt;
}

.text--black {
  color: #000;
}

.text--gray {
  color: #828282 !important;
}

.text--white {
  color: #fff;
}

.text--inherit {
  color: inherit;
}

.text--400 {
  font-weight: 400;
}

.text--800 {
  font-weight: 800;
}
