.header {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto 1fr;
    background-color: #ff6600;
}

.header  a {
      text-decoration: none;
      color: #000;
    }
  
.header-logo a {
        display: flex;
        align-items: center;
}

img {
    border: 1px white solid;
}
  
.header span {
    font-weight: 800;
    margin-left: 4px;
    margin-right: 10px;
}

.active {
    color: #fff !important;
}